{
  "openapi": "3.0.1",
  "info": {
    "title": "Wordwall API",
    "description": "API for sh.wham.xyz",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "paths": {
    "/wordwall/spammer": {
      "post": {
        "description": "Spams the Wordwall activity",
        "requestBody": {
          "description": "Details for the Wordwall spammer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WordwallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful spam operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordwallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wordwall/no1": {
      "post": {
        "description": "Marks the Wordwall activity as number one",
        "requestBody": {
          "description": "Details for the Wordwall no.1 operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WordwallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful no.1 operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordwallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WordwallRequest": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string",
            "description": "ID of the activity"
          },
          "templateId": {
            "type": "string",
            "description": "ID of the template"
          },
          "username": {
            "type": "string",
            "description": "Username of the user"
          }
        },
        "required": ["activityId", "templateId", "username"]
      },
      "WordwallResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the operation"
          },
          "message": {
            "type": "string",
            "description": "Message describing the result"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    }
  }
}
